@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Work Sans", sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/* Navbar Design */
#header {
    background-color: white;
    height: 80px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 180px;
}

ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

ul a:hover {
    transition: 0.2s ease-in;
    color: #f9995d;
}

/* Hide the checkbox (used for menu toggle) */
.menu-toggle {
    display: none;
}

/* Hamburger icon */
.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
}






















/* Responsive Navbar */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: white;
        width: 100%;
        padding: 20px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    /* Show the hamburger icon */
    .menu-icon {
        display: block;
    }

    /* When checkbox is checked, display the menu */
    .menu-toggle:checked+.menu-icon+ul {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        width: 150px;
    }

    ul a {
        font-size: 16px;
    }
}